@use '../../../shared/catalogo/colores.scss' as *;

.gestion-aportes-container {
  position: relative;
  min-height: 100vh;
  background: $color-blanco;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  font-family: sans-serif;

  .encabezado-principal {
    width: 100%;
    position: relative;
    margin-bottom: 2rem;

    .encabezado-horizontal {
      position: absolute;
      top: 0;
      left: 2rem;
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 8rem;
        height: 8rem;
      }

      h1 {
        font-size: 2rem;
        font-weight: 600;
        color: #000;
        margin: 0;
      }
    }

    .titulo-central {
      margin-top: 2rem;
      font-size: 1.8rem;
      font-weight: 600;
      text-align: center;
      color: #333;
    }
  }

  .panel-tabla {
    width: 100%;
    max-width: 1200px;
    margin-top: 1rem;
    z-index: 2;
  }

  .flecha-volver {
    position: absolute;
    right: 2rem;
    bottom: 7rem;
    z-index: 2;
    cursor: pointer;
    width: 2.8rem;
  }

  .decorador-izq,
  .decorador-der {
    position: absolute;
    width: 10rem;
    height: 10rem;
    background: $color-primario;
    border-radius: 50%;
    opacity: 1;
    z-index: 0;
  }

  .decorador-izq {
    bottom: 2.5rem;
    left: 0;
    transform: translate(-50%, 0);
  }

  .decorador-der {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }

}
