// Tamaños
$titulo-principal: 1.25rem;
$subtitulo: 1.2rem;
$texto-label: 0.9rem;
$texto-general: 1rem;
$texto-pequeño: 0.85rem;

// Pesos
$fuente-bold: bold;
$fuente-semi: 600;
$fuente-regular: 500;
$fuente-medium: 600; // Peso medio entre regular y bold


// Familia (opcional si tienes una global)
$fuente-principal: 'Inter', sans-serif; // Ejemplo
